.wrapper {
  box-shadow: 3px -5px 35px 0px #333e521a;
  background: #212833;
  border-radius: 6px;
  padding: 16px 10px;
}

@media (min-width: 350px) {
  .wrapper {
    padding: 24px 20px;
  }
}

@media (min-width: 500px) {
  .wrapper {
    border-radius: 20px;
    padding: 40px;
    gap: 30px;
  }
}
