.reactors {
  display: flex;
}

.reactors > * {
  margin-left: -4px;
}

.reactors > *:first-child {
  margin-left: 0;
}

.reactorsNumber {
  background: #4e5d78;
  font-size: 12px;
  font-weight: 400;
  border-radius: 50%;
  color: #ffffff;
  min-width: 18px;
  aspect-ratio: 1 / 1;
  display: grid;
  place-content: center;
}
