.reactors {
  display: flex;
}

.reactors > * {
  margin-left: -4px;
}

.first {
  margin-left: 0;
}

.reactorsNumber {
  background: #4e5d78;
  font-size: 12px;
  font-weight: 400;
  border-radius: 50%;
  color: #ffffff;
  min-width: 18px;
  aspect-ratio: 1 / 1;
  display: grid;
  place-content: center;
}

.imageMobile,
.imageWeb {
  overflow: hidden;
  border-radius: 50%;
  flex-shrink: 0;
}

.imageWeb {
  display: none;
}

@media (min-width: 500px) {
  .imageWeb {
    display: block;
  }

  .imageMobile {
    display: none;
  }

  .reactorsNumber {
    min-width: 22px;
  }
}
