.wrapper {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background: #191c21;
  padding-inline: 10px;
}

.logo {
  display: none;
}

.navList {
  display: flex;
  justify-content: space-between;
}

.sideNavList:nth-child(3),
.sideNavList:nth-child(6),
.sideNavList:last-child {
  display: none;
}

.navLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  position: relative;
  text-align: center;
  padding: 20px 6px;
}

.navLink::after {
  content: "";
  position: absolute;
  bottom: 2px;
  height: 3px;
  width: 100%;
  border-radius: 6px;
  background: #edeff1;
  opacity: 0;
  transition: opacity 0.15s ease-in;
}

.navLinkActive::after {
  opacity: 1;
}

.navText {
  display: none;
}

.notificationNumber {
  position: absolute;
  top: 11px;
  right: -7.5px;
  transform: translateX(-85%);
  background: #ff5630;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  min-width: 14px;
  aspect-ratio: 1 / 1;
  display: grid;
  place-content: center;
  z-index: 30;
}

.navIcon {
  display: none;
}

.navIcon,
.navIconSmall {
  flex-shrink: 0;
}

@media (min-width: 210px) {
  .navLink {
    padding: 21px 10px;
  }
}

@media (min-width: 280px) {
  .wrapper {
    padding-inline: 20px;
  }

  .navIconSmall {
    display: none;
  }

  .navIcon {
    display: block;
  }

  .navLink {
    padding: 20px 10px;
  }
}

@media (min-width: 350px) {
  .navText {
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    color: #edeff1;
    display: block;
  }

  .navLink {
    padding: 10px 4px;
  }

  .notificationNumber {
    top: 2.5px;
    right: 2px;
    transform: translateX(-85%);
  }
}

@media (min-width: 500px) {
  .wrapper {
    padding-inline: 0;
  }

  .navLink {
    padding: 9px 20px;
    background-color: transparent;
    transition: background-color 0.15s ease-in;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .sideNavList {
    flex-grow: 1;
  }

  .sideNavList:first-child > .navLink {
    border-top-left-radius: 0;
  }

  .sideNavList:nth-child(7) > .navLink {
    border-top-right-radius: 0;
  }

  .navLinkActive::after {
    bottom: 0;
  }

  .navText {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    transition: font-weight 0.15s ease-in;
  }

  .navTextActive {
    font-weight: 700;
  }

  .navLink:hover {
    background-color: transparent;
  }

  .navLinkActive,
  .navLinkActive:hover {
    background-color: #4e5d78;
  }

  .notificationNumber {
    right: 50%;
    transform: translateX(100%);
  }
}

@media (min-width: 690px) {
  .navLink {
    flex-direction: row;
    padding: 17px 20px;
    gap: 0;
  }

  .navText {
    font-size: 14px;
    line-height: 22px;
    margin-left: 15px;
  }

  .notificationNumber {
    position: static;
    transform: unset;
    min-width: 18px;
    display: grid;
    place-content: center;
    margin-left: 13px;
  }
}

@media (min-width: 950px) {
  .wrapper {
    position: sticky;
    top: 0;
    bottom: unset;
    height: 100vh;
    width: unset;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-inline: 20px 5px;
  }

  .logo {
    display: block;
    margin: 26px 5px 26px 0;
  }

  .nav::-webkit-scrollbar {
    width: 7px;
  }

  .nav::-webkit-scrollbar-thumb {
    background: #212833;
    border-radius: 20px;
    border: 1px solid #4e5d78;
    box-shadow: 0px 4px 10px 0px #00000005;
  }

  .nav::-webkit-scrollbar-track {
    margin-block: 5px;
  }

  .nav {
    position: sticky;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px 15px 20px 0;
    width: 100%;
  }

  .navList {
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
  }

  .sideNavList:nth-child(3),
  .sideNavList:nth-child(6),
  .sideNavList:last-child {
    display: block;
  }

  .navLink {
    border-radius: 10px;
    padding: 10px 15px;
    justify-content: flex-start;
    padding: 11px 30px 11px 20px;
  }

  .sideNavList:first-child > .navLink,
  .sideNavList:nth-child(7) > .navLink {
    border-radius: 10px;
  }

  .navLinkActive::after {
    display: none;
  }

  .navText {
    font-size: 16px;
    line-height: 24px;
    margin-left: 20px;
  }

  .notificationNumber {
    left: 50%;
    right: unset;
    transform: translate(0);
  }
}
