.wrapper {
  display: flex;
  flex-direction: column;
}

.user {
  background: #191c21;
  box-shadow: 0px 4px 10px 0px #00000005;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.actions {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.actions > * {
  flex: 1;
  padding: 6px 10px;
  border-radius: 6px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.ignoreButton {
  color: #959eae;
  border: 1px solid #212833;
  transition: border-radius, color, border, background-color 0.1s ease-in;
  background-color: transparent;
}

.followButton {
  color: #edeff1;
  border: 1px solid #377dff;
  background-color: #377dff;
  transition: border-radius, color, border, background-color 0.1s ease-in;
}

.followButton:hover {
  color: #959eae;
  border: 1px solid #212833;
  background-color: transparent;
  border-radius: 6px;
}

.userDetails {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.userName {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;

  color: #edeff1;
}

.userProfession {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #959eae;
  margin-top: -2px;
}

.social {
  display: none;
}

.userImageWeb {
  display: none;
}

.infoTop {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

@media (min-width: 280px) {
  .actions {
    gap: 20px;
  }
}

@media (min-width: 350px) {
  .actions {
    margin-left: 70px;
  }

  .user {
    gap: 6px;
  }

  .user {
    padding-right: 57px;
  }
}

@media (min-width: 500px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); /* check */
    gap: 15px;
  }

  .followButton {
    border-radius: 8px;
  }

  .user {
    border-radius: 16px;
    gap: 26px;
    padding: 18px;
  }

  .userImageWeb {
    display: block;
  }

  .userImageMobile {
    display: none;
  }

  .userDetails {
    gap: 18px;
  }

  .userName {
    font-size: 16px;
    line-height: 24px;
  }

  .userProfession {
    font-weight: 500px;
  }

  .infoTop {
    gap: 0;
  }

  .social {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .socialLink {
    padding-right: 6px;
  }

  .actions {
    margin-left: 0;
  }
}

@media (min-width: 900px) {
  .wrapper {
    row-gap: 18px;
    column-gap: 19px;
  }
}
