.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px 14px;
  gap: 7px;
}

.message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border-radius: 6px;
  background-color: transparent;
  transition: background-color 0.15s ease-in;
}

.message:hover {
  background-color: #212833;
}

.messageMain {
  display: flex;
  align-items: center;
  gap: 10px;
}

.messageAside {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}

.name {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #edeff1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 115px;
}

.lastMessage {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #959eae;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 115px;
}

.time {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #959eae;
}

.messageNo {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  padding-inline: 5px;
  border-radius: 4px;
  background: rgba(255, 86, 48, 1);
  text-align: center;
}

.searchWrapper {
  position: sticky;
  top: 0;
  padding-top: 14px;
  background: #191c21;
  padding-bottom: 7px;
}

@media (min-width: 320px) {
  .lastMessage,
  .name {
    width: 125px;
  }

  .message {
    padding: 14px;
  }

  .messageMain {
    gap: 14px;
  }

  .name {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 500px) {
  .wrapper {
    padding-bottom: 20px;
    gap: 10px;
  }

  .message {
    border-radius: 10px;
    padding: 18px;
  }

  .messageMain {
    gap: 10px;
  }

  .messageAside {
    gap: 1px;
  }

  .searchWrapper {
    padding-top: 20px;
    padding-bottom: 10px;
  }
}

@media (min-width: 850px) {
  .name,
  .lastMessage {
    width: 110px;
  }
}

@media (min-width: 950px) {
  .lastMessage,
  .name {
    width: 125px;
  }
}

@media (min-width: 1100px) {
  .name,
  .lastMessage {
    width: 110px;
  }
}

@media (min-width: 1200px) {
  .name,
  .lastMessage {
    width: 125px;
  }
}
