.coverPhotoWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 3.342857 / 1;
  /* border-radius: 4px; */
  /* overflow: hidden; */
}

.coverPhotoWrapper > img {
  /* border-radius: 4px; */
  /* overflow: hidden; */
  object-fit: cover;
  object-position: top center;
}

.uploadButton {
  position: absolute;
  bottom: 10px;
  right: 20px;
  cursor: pointer;
  z-index: 4;
}

.uploadCoverPhotoText {
  display: none;
}

.coverImageInput {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

.editInfo {
  background: #212833;
  border-radius: 6px;
  padding: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #edeff1;
}

.userImageWrapper {
  border: 3px solid #4e5d78;
  position: relative;
  border-radius: 50%;
  z-index: 1;
}

.userImageWrapper > img {
  border-radius: 50%;
  overflow: hidden;
}

.profileImageUploadIcon {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.userInfo {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-inline: 20px;
  margin-top: -63px;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(33, 40, 51, 0.5);
  z-index: 12;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatarEditor {
  box-shadow: 0px 2.4814815521240234px 4.962963104248047px 0px #0000000a;
  border-radius: 6px;
  background: #191c21;
  width: min(100%, 540px);
}

.editorHeader {
  display: flex;
  justify-content: space-between;
  padding: 10px 14px;
  border-bottom: 1px solid #212833;
}

.editorMain {
  margin: 8px 14px 6px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.editorStyle {
  border: 10px solid #b8bec9;
  outline: 2px solid #ffffff;
  outline-offset: -12px;
  border-radius: 6px;
}

.saveButton {
  background: #377dff;
  border-radius: 6px;
  padding: 8px 20px;
  margin-bottom: 8px;
}

.editorMainBottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.close {
  display: grid;
  place-content: center;
  cursor: pointer;
}

.rangeWrapper,
.rangeInputWrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.imageSize {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 2px;
  height: 4px;
  background: #959eae;
}

/* Thumb: webkit */
.imageSize::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  width: 10px;
  background: #edeff1;
  border-radius: 50%;
  border: none;
  transition: 0.2s ease-in-out;
}

.imageSize::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  width: 10px;
  background: #edeff1;
  border-radius: 50%;
  border: none;
  transition: 0.2s ease-in-out;
}

.imageSize::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 5px rgba(237, 239, 241, 0.11);
}
.imageSize:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 6px rgba(237, 239, 241, 0.11);
}
.imageSize:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 6px rgba(237, 239, 241, 0.11);
}

/* Hover, active & focus Thumb: Firefox */
.imageSize::-moz-range-thumb:hover {
  box-shadow: 0 0 0 5px rgba(237, 239, 241, 0.11);
}
.imageSize:active::-moz-range-thumb {
  box-shadow: 0 0 0 6px rgba(237, 239, 241, 0.11);
}
.imageSize:focus::-moz-range-thumb {
  box-shadow: 0 0 0 6px rgba(237, 239, 241, 0.11);
}
