.blockingText {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #959eae;
}

.userImageWeb {
  display: none;
}

.users {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.userMain {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}

.name {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #edeff1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
}

.userTexts {
  min-width: 0;
  overflow: hidden;
  width: 150px;
}

.time {
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  color: #959eae;
}

.unblockButton {
  background: #377dff;
  border-radius: 6px;
  padding: 8px 24px;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #ffffff;
}

@media (min-width: 330px) {
  .user {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 380px) {
  .userTexts {
    width: 200px;
  }
}

@media (min-width: 430px) {
  .userTexts {
    width: 250px;
  }
}

@media (min-width: 500px) {
  .userImageWeb {
    display: block;
  }

  .userImage {
    display: none;
  }

  .userTexts {
    width: auto;
  }
}
