.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 100%;
  background: #212833;
}

.onlineFriends {
  display: flex;
  gap: 18px;
  overflow-x: auto;
  width: 100vw;
  box-shadow: 0px 2.5546875px 6.38671875px 0px rgba(0, 0, 0, 0.02);
  background: rgba(25, 28, 33, 1);
  padding: 14px 20px;
}

.onlineFriend {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  text-align: center;
  flex-shrink: 0;
}

.friendName {
  max-width: 50px;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  color: #edeff1;
}

.friendImageWrapper {
  position: relative;
}

.friendImage {
  /* border: 2px solid #38cb89; */
  border-radius: 50%;
  overflow: hidden;
}

.friendImageWrapper::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #38cb89;
  transform: translate(-50%, -50%);
}

.spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 500px) {
  .wrapper {
    gap: 30px;
  }

  .onlineFriends {
    display: none;
  }
}
