/*
.main {
  background: #212833;
  border-radius: 20px;
} */

.wrapper {
  display: flex;
  min-height: 100vh;
}

.body {
  display: flex;
  flex-direction: column;
  padding-right: 5px;
}

.body {
  flex: 1;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  gap: 20px;
  background: #191c21;
}

.search {
  width: min(100%, 400px);
}

.profile {
  flex-shrink: 0;
}

.profile,
.profileDesktop,
.messageDesktop {
  display: none;
}

.profileName {
  display: none;
}

@media (min-width: 500px) {
  .profileMobile,
  .message {
    display: none;
  }

  .messageDesktop {
    display: block;
  }

  .messageDesktop,
  .profileDesktop {
    display: none;
  }

  .profile {
    display: flex;
    align-items: center;
    background: #212833;
    box-shadow: 0px 4px 10px 0px #00000005;
    border-radius: 10px;
  }
}

@media (min-width: 700px) {
  .header {
    padding-block: 18px;
    padding-right: 25px;
    z-index: 5;
    gap: 40px;
  }
}

@media (min-width: 900px) {
  .profileName {
    display: block;
    padding-inline: 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #ffffff;
  }
}

@media (min-width: 1100px) {
  .search {
    width: min(100%, 542px);
  }
}
