.coverPhotoWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 2.8 / 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.coverPhotoWrapper > img {
  object-fit: cover;
  object-position: top center;
}

.uploadButton,
.uploadButtonMobile {
  position: absolute;
  cursor: pointer;
  z-index: 4;
}

.uploadButton {
  bottom: 30px;
  right: 30px;
  display: none;
  align-items: center;
  box-shadow: 0px 4px 8px 0px #0000000a;
  background: #212833;
  padding: 9px 15px 9px 10px;
  gap: 14px;
  border-radius: 10px;
}

.uploadButtonMobile {
  bottom: 10px;
  right: 20px;
  z-index: 2;
  display: grid;
  place-content: center;
  background: #57657f;
  box-shadow: 0px 4px 8px 0px #0000000a;
  padding: 5px;
  border-radius: 50%;
}

.uploadCoverPhotoText {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #edeff1;
}

.userImage,
.userImageWeb {
  cursor: pointer;
}

.userImageWeb {
  display: none;
}

.coverImageInput {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

.userInfo {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-inline: 20px;
  padding-bottom: 20px;
  margin-top: -63px;
}

.editInfo {
  background: #212833;
  border-radius: 6px;
  padding: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #edeff1;
  text-align: center;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.buttonWrapper > * {
  flex: 1;
}

.messageButton {
  background: rgba(56, 203, 137, 1);
  color: #ffffff;
}

.followButton {
  background: rgba(55, 125, 255, 1);
  color: #ffffff;
}

.unfollowButton {
  outline: 1px solid #dcdfe4;
  background: transparent;
  color: #959eae;
}

.userImageWrapper {
  border: 3px solid #4e5d78;
  width: 90px;
  aspect-ratio: 1 / 1;
  position: relative;
  border-radius: 50%;
  z-index: 1;
}

.userImageWrapper > img {
  border-radius: 50%;
  overflow: hidden;
}

.profileImageUploadIcon {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  display: grid;
  place-content: center;
  background: #57657f;
  box-shadow: 0px 4px 8px 0px #0000000a;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.userInfoMain {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.userInfoName {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #edeff1;
}

.userInfoJob {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #959eae;
}

.profileBody {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: #212833;
  padding-top: 8px;
  flex: 1;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 14px;
  background: #191c21;
  padding: 14px 20px;
}

.profilePost {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 8px;
  position: relative;
}

.introHeading {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #edeff1;
}

.introMain {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.introItem {
  display: flex;
  align-items: center;
  gap: 14px;
}

.introText {
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  color: #edeff1;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(33, 40, 51, 0.5);
  z-index: 12;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatarEditor {
  box-shadow: 0px 2.4814815521240234px 4.962963104248047px 0px #0000000a;
  border-radius: 6px;
  overflow: hidden;
  background: #191c21;
  width: min(100%, 540px);
  align-self: start;
  margin-top: min(110px, 10vh);
  margin-inline: 20px;
}

.coverEditor {
  width: min(100%, 700px);
}

.avatarHeading {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #edeff1;
}

.editorHeader {
  display: flex;
  justify-content: space-between;
  padding: 10px 14px;
  border-bottom: 1px solid #212833;
}

.profileImageDisplay {
  display: grid;
  place-content: center;
  padding-block: 16px;
  background: #212833;
}

.close {
  display: grid;
  place-content: center;
  cursor: pointer;
}

.profileDisplayWeb {
  display: none;
}

.editorMain {
  margin: 8px 14px 14px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.rangePercentage {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #edeff1;
}

.editorStyle {
  border: 10px solid #b8bec9;
  outline: 2px solid #ffffff;
  outline-offset: -12px;
  border-radius: 6px;
}

.editorMainBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.rangeWrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.imageSize {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 2px;
  height: 4px;
  background: #959eae;
}

/* Thumb: webkit */
.imageSize::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  width: 10px;
  background: #edeff1;
  border-radius: 50%;
  border: none;
  transition: 0.2s ease-in-out;
}

.imageSize::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  width: 10px;
  background: #edeff1;
  border-radius: 50%;
  border: none;
  transition: 0.2s ease-in-out;
}

.imageSize::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 5px rgba(237, 239, 241, 0.11);
}
.imageSize:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 6px rgba(237, 239, 241, 0.11);
}
.imageSize:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 6px rgba(237, 239, 241, 0.11);
}

/* Hover, active & focus Thumb: Firefox */
.imageSize::-moz-range-thumb:hover {
  box-shadow: 0 0 0 5px rgba(237, 239, 241, 0.11);
}
.imageSize:active::-moz-range-thumb {
  box-shadow: 0 0 0 6px rgba(237, 239, 241, 0.11);
}
.imageSize:focus::-moz-range-thumb {
  box-shadow: 0 0 0 6px rgba(237, 239, 241, 0.11);
}

.profileLoader {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.noPostWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 18px;
}

.noPost {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #edeff1;
}

.loadingData {
  height: 100%;
  display: grid;
  place-content: center;
}

.noPostWeb {
  display: none;
}

@media (min-width: 330px) {
  .coverPhotoWrapper {
    aspect-ratio: 3.342857 / 1;
  }
}

@media (min-width: 500px) {
  .noPostMobile {
    display: none;
  }

  .noPostWeb {
    display: block;
  }

  .noPostWrapper {
    padding-block: 0;
  }

  .noPost {
    font-size: 16px;
    font-weight: 24px;
  }

  .profileBody {
    padding: 20px;
    border-radius: 16px;
    margin-top: 16px;
    gap: 16px;
  }

  .intro {
    border-radius: 16px;
    padding: 18px;
    gap: 18px;
    min-width: 250px;
  }

  .profilePost {
    gap: 16px;
    padding-bottom: 0;
  }

  .userInfo {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .editInfo {
    border-radius: 10px;
    padding: 9px 20px;
  }

  .uploadButtonMobile {
    padding: 7px;
  }

  .coverPhotoWrapper > img {
    border-radius: 4px;
    overflow: hidden;
  }

  .introHeading {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }

  .introMain {
    gap: 10px;
  }

  .introItem {
    gap: 20px;
  }

  .introText {
    font-size: 14px;
    line-height: 22px;
  }

  .profileDisplayMobile {
    display: none;
  }

  .profileDisplayWeb {
    display: block;
  }

  .profileImageDisplay {
    padding-block: 20px;
  }

  .avatarEditor {
    border-radius: 10px;
  }
}

@media (min-width: 900px) {
  .userInfo {
    padding-inline: 30px;
    padding-bottom: 30px;
    margin-top: -128px;
  }

  .uploadButton {
    display: flex;
  }

  .uploadButtonMobile {
    display: none;
  }

  .userImageWrapper {
    border: 4px solid #4e5d78;
    width: 158px;
    aspect-ratio: 1 / 1;
  }

  .userImageWeb {
    display: block;
  }

  .userImageMobile {
    display: none;
  }

  .profileImageUploadIcon {
    padding: 7px;
    transform: translateX(-50%);
  }

  .userInfoMain {
    gap: 10px;
  }

  .userInfoName {
    font-size: 26px;
    font-weight: 700;
    line-height: 40px;
  }

  .userInfoJob {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  .profileBody {
    flex-direction: row;
    align-items: flex-start;
    margin-top: 30px;
    padding: 30px;
    gap: 30px;
  }

  .profilePost {
    gap: 30px;
    flex: 1;
  }

  .avatarEditor {
    border-radius: 16px;
  }

  .coverEditor {
    width: min(72.778%, 1048px);
  }

  .editorMain {
    margin: 20px;
    gap: 20px;
  }

  .editorStyle {
    border: 30px solid #b8bec9;
    outline: 4px solid #ffffff;
    outline-offset: -34px;
    border-radius: 16px;
  }

  .avatarHeading {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }

  .editorHeader {
    padding: 18px 20px;
  }

  .rangePercentage {
    font-size: 14px;
    line-height: 22px;
  }

  .rangeWrapper {
    gap: 10px;
  }
}

@media (min-width: 950px) {
  .profileBody {
    flex-direction: column;
    align-items: stretch;
  }
}

@media (min-width: 1150px) {
  .profileBody {
    flex-direction: row;
    align-items: flex-start;
  }
}
