.wrapper {
  border: 1px solid #b8bec9;
  width: 30px;
  height: 16px;
  border-radius: 100px;
  position: relative;
  display: flex;
  align-items: center;
  padding-inline: 2px;
  background-color: transparent;
  cursor: pointer;
  transition: border 0.25s ease-in, background-color 0.25s ease-in;
}

.wrapperOn {
  border: 1px solid rgba(55, 125, 255, 1);
  background-color: rgba(55, 125, 255, 1);
}

.wrapper::before {
  content: "";
  position: absolute;
  width: 12px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: #b8bec9;
  right: 15px;
  transition: right 0.25s ease-in, background-color 0.25s ease-in;
}

.wrapperOn::before {
  background-color: #ffffff;
  right: 0;
}
