.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.mainform {
  gap: 6px;
}

.wrapperText,
.wrapperActionText {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

.wrapperActionText:hover {
  text-decoration: underline;
}

.mainform .wrapperText,
.mainform .wrapperActionText {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.wrapperText {
  color: #edeff1; /** 10% **/
}

.wrapperActionText {
  cursor: pointer;
  color: #377dff;
}

@media (min-width: 350px) {
  .wrapper {
    gap: 15px;
  }

  .mainform {
    gap: 6px;
  }

  .wrapperText,
  .wrapperActionText {
    font-size: 16px;
    line-height: 24px;
  }

  .mainform .wrapperText,
  .mainform .wrapperActionText {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }
}

@media (min-width: 400px) {
  .mainform .wrapperText,
  .mainform .wrapperActionText {
    font-size: 16px;
    line-height: 24px;
  }

  .mainform {
    gap: 15px;
  }
}
