:root {
 --shadow: box-shadow: 3px -5px 35px 0px #333E521A;
 --primary-color: #FFFFFF;
 --primary-color-60: #4E5D7899;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #FFFFFF;
    --primary-color-60: #4E5D7899;

    /* SHADOW */
    --shadow: box-shadow: 3px -5px 35px 0px #333E521A;

  --dark-color: #191C21;
  --dark-2: #212833;
  

  --gray-0: #4E5D78;
  --gray-1 : #4E5D78F2;
  --gray-2 : #4E5D78E5;
  --gray-3 : #4E5D78CC;
  --gray-4 : #4E5D7899;
  --gray-5 : #4E5D7866;
  --gray-6 : #4E5D7833;
  --gray-7 : #4E5D781A;
  --gray-8 : #4E5D780D;
  --gray-9 : #4E5D7808;
  --gray-10 : #4E5D7800;

  --blue-0: #000000CC;
  --blue-1: #00000099;
  --blue-2: #00000066;
  --blue-3: #00000033; 
  --blue-4: #377DFF;
  --blue-5: #FFFFFF33;  
  --blue-6: #FFFFFF66; 
  --blue-7: #FFFFFF99; 
  --blue-8: #FFFFFFCC;

  --green-0: #000000CC;
  --green-1: #00000099;
  --green-2: #00000066;
  --green-3: #00000033; 
  --green-4: #38CB89;
  --green-5: #FFFFFF33;  
  --green-6: #FFFFFF66; 
  --green-7: #FFFFFF99; 
  --green-8: #FFFFFFCC;

  --yellow-0: #000000CC;
  --yellow-1: #00000099;
  --yellow-2: #00000066;
  --yellow-3: #00000033; 
  --yellow-4: #FFAB00;
  --yellow-5: #FFFFFF33;  
  --yellow-6: #FFFFFF66; 
  --yellow-7: #FFFFFF99; 
  --yellow-8: #FFFFFFCC;

  --yellow-0: #000000CC;
  --yellow-1: #00000099;
  --yellow-2: #00000066;
  --yellow-3: #00000033; 
  --yellow-4: #FF5630;
  --yellow-5: #FFFFFF33;  
  --yellow-6: #FFFFFF66; 
  --yellow-7: #FFFFFF99; 
  --yellow-8: #FFFFFFCC;
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
}

body {
  min-height: 100vh;
  background: #191c21;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

img {
  display: block; 
  max-width: 100%;
}

li {
  list-style-type: none;
}

input, 
textarea, 
select ,
button{
  font: inherit;
  background: none;
  border: none;
  outline: none;
} 

button {
  cursor: pointer;
}

.hidden {
  position: absolute;
  left: -9999px;
  z-index: -1;
}

.react-calendar__navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  border-bottom: 1px solid #191c21;
}

.react-calendar__navigation__label {
  flex-grow: 0 !important;
  pointer-events: none;

}

.react-calendar__navigation__label__labelText,
.react-calendar__navigation__label__labelText--from {
  color: #edeff1;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.react-calendar__viewContainer {
  padding: 10px 20px;
  width: 100%;
}

.react-calendar__month-view__weekdays__weekday {
  display: grid;
  place-content: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  width: 35px !important;
  aspect-ratio: 1 / 1;
}

.react-calendar__month-view__weekdays__weekday > abbr {
  text-decoration: none;
}

.react-calendar__month-view__days__day--neighboringMonth > abbr {
  color: #4E5D78;
}

.react-calendar__tile {
  transition: background-color 0.15s ease-in;
  border-radius: 50%;
}

.react-calendar__tile:hover {
  background-color: #191C21;
}

.react-calendar__tile--active {
  background-color: #377DFF !important;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

