.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #959eae;
  padding-inline: 10px;
  border-radius: 6px;
}

.input {
  padding-block: 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #edeff1;
  flex: 1;
}

.input::placeholder {
  color: #959eae;
}

.iconWeb {
  display: none;
}

@media (min-width: 500px) {
  .wrapper {
    padding-inline: 20px;
    border-radius: 10px;
  }

  .input {
    padding-block: 10px;
    font-size: 14px;
    line-height: 22px;
  }

  .iconWeb {
    display: block;
  }

  .iconMobile {
    display: none;
  }
}
