.wrapper {
  box-shadow: 0px 4.541666507720947px 11.354166030883789px 0px #00000005;
  background: #191c21;
  padding-inline: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-block: 10px;
  border-bottom: 1px solid #212833;
}

.headerName {
  color: #edeff1;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

.seeAll {
  color: #377dff;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.birthdays {
  padding-block: 14px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.upcoming {
  display: flex;
  padding: 14px;
  border-radius: 8px;
  background: #212833;
  gap: 14px;
}

.upcomingMain {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.upcomingHeader {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #edeff1;
}

.upcomingBody {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #959eae;
}
