.wrapper {
  display: flex;
  flex-direction: column;
  background: #212833;
  gap: 8px;
  height: 100%;
}

.communityCategories {
  display: flex;
  gap: 13px;
  padding: 11px 20px;
  background-color: #191c21;
  flex-wrap: wrap;
}

.communityCategory {
  padding: 3px 9px;
  border-radius: 6px;
  flex-basis: 0;
  flex-grow: 1;
  display: grid;
  place-content: center;
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  color: #edeff1;
  border: 1px solid #212833;
  transition: border, background-color 0.1s ease-in;
  background-color: transparent;
  min-height: 30px;
}

.communityCategoryActive {
  border: 1px solid #377dff;
  background-color: #377dff;
}

.amount {
  display: none;
}

.titleWrapper {
  display: flex;
  gap: 4px;
}

@media (min-width: 310px) {
  .communityCategory {
    padding: 3px 12px;
    min-height: 35px;
  }
}

@media (min-width: 500px) {
  .noPost {
    font-size: 16px;
    font-weight: 24px;
  }

  .wrapper {
    gap: 18px;
  }

  .communityCategories {
    border-radius: 16px;
    padding: 15px;
    margin-block: 0;
  }

  .communityCategory {
    padding: 8px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 18px;
  }
}

@media (min-width: 755px) {
  .communityCategories {
    border-radius: 16px;
    padding: 15px;
  }

  .communityCategory {
    padding: 8px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 22px;
  }

  .amount {
    display: block;
  }
}

@media (min-width: 900px) {
  .communityCategories {
    gap: 19px;
    padding: 18px;
  }

  .communityCategory {
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 950px) {
  .wrapper {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
