.wrapper {
  padding-inline: 20px;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #212833;
  padding-block: 10px;
}

.navText {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #edeff1;
}

@media (min-width: 500px) {
  .navText {
    font-weight: 400;
  }
}
