.overlay {
  position: fixed;
  inset: 0;
  background: rgba(33, 40, 51, 0.5);
  z-index: -1;
}

.wrapper {
  position: absolute;
  top: -115px;
  left: 0;
  right: 0;
  z-index: 13;
  height: calc(100vh - 66px - 56px - 8px);
  background: #212832;
}

.main {
  box-shadow: 0px 6px 20px 0px #0000000a;
  background: #191c21;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-bottom: 14px;
  height: calc(100% - 8px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding-block: 10px;
  margin-inline: 20px;
  border-bottom: 1px solid rgba(33, 40, 51, 1);
}

.heading {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 99999;
}

.backArrowWrapper {
  align-self: stretch;
  cursor: pointer;
  display: grid;
  place-content: center;
}

.headerMain {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
  gap: 10px;
}

.headingText {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #edeff1;
}

.headerMain > * {
  flex-shrink: 0;
}

.visibleText {
  font-size: 9px;
  font-weight: 500;
  line-height: 14px;
  color: #c3c5c7;
}

.closeIcon {
  display: none;
}

.currenShowOptionWrapper {
  position: relative;
}

.currenShowOption {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #212833;
  padding: 4px 9px;
  border-radius: 2.55px;
  box-shadow: 0px 4px 8px 0px #0000000a;
  cursor: pointer;
}

.currenShowOptionValue {
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  color: #377dff;
}

.mainContent {
  display: flex;
  gap: 14px;
  padding-inline: 20px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mainInput {
  flex: 1;
  min-height: 170px;
  height: 170px;
  max-height: 170px;
  overflow-y: auto;
  background: #212833;
  border-radius: 6.39px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #edeff1;
  padding: 8px 10px;
  box-sizing: content-box;
  text-overflow: clip;
  word-break: break-all;
}

.mainInput[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  pointer-events: none;
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #959eae;
}

.imageUpload {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.imageUploadText {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #edeff1;
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-inline: 20px;
}

.postUser,
.postUserWeb {
  display: none;
}

.viewDropdownWeb {
  display: none;
}

.showOptions {
  position: absolute;
  top: calc(100% + 6px);
  right: 0;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
  background: #212833;
  padding: 20px;
  border-radius: 10px;
  min-width: 130px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.showOption {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.viewType {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #edeff1;
}

.fileInput {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

.selectedImageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1.597315 / 1;
  border-radius: 6px;
  overflow: hidden;
}

.selectedImageWrapper > img {
  border-radius: 6px;
  object-fit: cover;
  object-position: top center;
}

.removeImage {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;
  z-index: 2;
  cursor: pointer;
  border-radius: 50%;
  background: #fff;
  box-shadow: 3px -5px 35px 0px #333e521a;
  background: #212833;
}

.selectedImagesPlus,
.selectedImages {
  padding-inline: 20px;
}

.selectedImagesPlus {
  display: flex;
  gap: 8.72px;
}

.selectedImagesPlus > * {
  flex-basis: 0;
  flex-grow: 1;
}

.postTwo {
  display: flex;
  flex-direction: column;
  gap: 8.72px;
}

@media (min-width: 250px) {
  .postUser {
    display: block;
  }
}

@media (min-width: 500px) {
  .overlay {
    z-index: 12;
  }

  .wrapper {
    height: unset;
    border-radius: 16px;
    top: 0;
  }

  .main {
    gap: 18px;
    padding-bottom: 18px;
    height: unset;
    border-radius: 16px;
  }

  .header {
    margin-inline: 0;
    padding-inline: 18px;
  }

  .backArrowWrapper {
    display: none;
  }

  .headerMain {
    gap: 18px;
  }

  .closeIcon {
    display: grid;
    place-content: center;
    align-self: stretch;
    cursor: pointer;
  }

  .headingText {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }

  .visibleText {
    font-size: 14px;
    line-height: 22px;
  }

  .currenShowOption {
    gap: 13px;
    padding: 9px 10px;
    border-radius: 4px;
  }

  .currenShowOptionValue {
    font-size: 14px;
    line-height: 22px;
  }

  .mainContent {
    gap: 14px;
    padding-inline: 18px;
  }

  .postUserWeb {
    display: block;
  }

  .postUser {
    display: none;
  }

  .mainContainer {
    gap: 18px;
  }

  .mainInput {
    min-height: 110px;
    height: 110px;
    max-height: 110px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 22px;
    padding: 10px;
  }

  .mainInput[contenteditable="true"]:empty:before {
    font-size: 14px;
    line-height: 22px;
  }

  .imageUpload {
    gap: 10px;
  }

  .imageUploadText {
    font-size: 14px;
    line-height: 22px;
  }

  .bottom {
    justify-content: space-between;
    flex-direction: row;
    margin-inline: 18px;
  }

  .viewDropdownWeb {
    display: block;
  }

  .viewDropdown {
    display: none;
  }

  .showOptions {
    top: calc(100% + 2px);
    right: unset;
    left: 50%;
    transform: translateX(-50%);
  }

  .selectedImagesPlus,
  .selectedImages {
    padding-inline: 18px;
  }

  .selectedImageWrapper,
  .selectedImageWrapper > img {
    border-radius: 10px;
  }

  .postImageContainerPlus,
  .postTwo {
    gap: 12px;
  }

  .removeImage {
    top: 13px;
    right: 13px;
  }
}
