.wrapper {
  padding: 14px 20px;
  box-shadow: 0px 3.83203125px 12.7734375px 0px #0000000a;
  background: #191c21;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.mainHeader {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.mainHeaderDetails {
  display: flex;
  align-items: center;
  gap: 10px;
}

.name {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #edeff1;
}

.time {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #959eae;
}

.mainBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.bottomTexts {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-left: auto;
}

.bottomText {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #959eae;
}

.postImageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1.776 / 1;
  overflow: hidden;
  display: flex;
}

.reactions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-block: 1px solid #212833;
  padding-block: 5px;
}

.reaction {
  display: flex;
  align-items: center;
  gap: 6px;
}

.reactionName {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #edeff1;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  position: relative;
}

.send {
  background: #212833;
  border-radius: 4px;
  padding: 9px;
  flex-shrink: 0;
  cursor: pointer;
}

.inputWrapper {
  display: flex;
  align-items: flex-end;
  flex: 1;
  background: #212833;
  padding-inline: 10px;
  border-radius: 6px;
}

.inputIcons {
  display: flex;
  align-items: flex-end;
  gap: 16px;
  padding-block: 9px;
  cursor: pointer;
  padding-left: 5px;
}

.inputIconsWrapper {
  position: relative;
}

.commentInput {
  flex: 1;
  width: calc(100% - 90px);
  padding-block: 8px;
  margin-right: 8px;
  overflow: hidden;
  box-sizing: content-box;
  text-overflow: clip;
  word-break: break-all;
}

.commentInput,
.commentInput:focus,
.commentInput:active,
.commentInput:hover {
  outline: none;
  border: none;
}

.commentInput[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  pointer-events: none;
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #959eae;
}

.commentInput,
.commentInput::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #edeff1;
  background: #212833;
  flex: 1;
}

.commentInput::placeholder {
  color: #959eae;
}

.reactionNameReacted {
  color: #377dff;
}

.posterImageMobile,
.posterImageWeb,
.bottomUserImage,
.bottomUserImageWeb,
.commentUserProfile,
.commentUserProfileWeb {
  overflow: hidden;
  border-radius: 50%;
  flex-shrink: 0;
}

.commentUserProfileWeb {
  display: none;
}

.posterImageWeb {
  display: none;
}

.bottomUserImageWeb,
.bottomUserImage {
  display: none;
}

.postText {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.postImageContainerPlus {
  display: flex;
  gap: 8.72px;
}

.postImageContainerPlus > * {
  flex-basis: 0;
  flex-grow: 1;
}

.postTwo {
  display: flex;
  flex-direction: column;
  gap: 8.72px;
}

.postImageWrapper > img {
  border-radius: 6px;
  flex-shrink: 0;
  object-fit: cover;
  object-position: top center;
}

.inputWrapperOuter {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  flex: 1;
  position: relative;
}

.moreWrapper {
  cursor: pointer;
  position: relative;
}

.moreOptionsIcon {
  height: 100%;
  display: grid;
  place-content: center;
  padding-left: 10px;
}

.moreOptionsWrapper {
  position: absolute;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
  background: #212833;
  right: -20px;
  top: 30px;
  width: 100vw;
  border-radius: 4px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.moreOption {
  padding-inline: 20px;
  padding-block: 8px 18px;
}

.moreOptionFirst {
  padding-block: 18px 8px;
}

.moreOptionOne {
  padding-bottom: 18px;
}

.moreOption {
  display: flex;
  align-items: center;
  gap: 18px;
  cursor: pointer;
}

.moreOptionText {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #edeff1;
}

.hiddenPostWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 14px 20px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.02);
  background: rgba(25, 28, 33, 1);
}

.hiddenPostMain {
  display: flex;
  align-items: center;
  gap: 14px;
}

.hiddenPostHeading {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #edeff1;
}

.hiddenPostText {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #959eae;
}

.hiddenPostRemove {
  cursor: pointer;
  padding-block: 5px;
  padding-left: 5px;
}

.overlay {
  position: fixed;
  inset: 0;
  max-height: 100vh;
  left: 0;
  right: 0;
  background: rgba(33, 40, 51, 0.5);
  z-index: 12;
  display: flex;
  justify-content: center;
  align-items: center;
}

.unfollowWrapper {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
  background: rgba(25, 28, 33, 1);
  border-radius: 6px;
  padding: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  text-align: center;
  min-width: min(100%, 256px);
  max-width: 350px;
}

.unfollowHeading {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #edeff1;
  padding-bottom: 2px;
}

.unfollowText {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #959eae;
}

.unfollowActions {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
  width: 100%;
  /* max-width: 198px; */
}

.unfollowActions > * {
  padding: 7px;
  flex: 1;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  cursor: pointer;
}

.unfollowCancel {
  background: transparent;
  outline: 1px solid #4e5d78;
  color: #959eae;
}

.unfollowProceed {
  background: #ff5630;
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reactionButton {
  display: flex;
  align-items: center;
  gap: 10px;
}

.closeOverlay {
  position: fixed;
  inset: 0;
  z-index: 1;
  cursor: pointer;
  background: transparent;
}

.reactionButtonComment:hover {
  text-decoration: underline;
}

.commentReplyWrapper::-webkit-scrollbar {
  width: 13px;
  background: #212833;
  border: 3px solid #212833;
}

.commentReplyWrapper::-webkit-scrollbar-thumb {
  background: #212833;
  border-radius: 20px;
  border: 3px solid #212833;
  outline: 1px solid #4e5d78;
  outline-offset: -4px;
  box-shadow: 0px 4px 10px 0px #00000005;
}

.comments {
  margin-inline: -20px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  background: #212833;
  padding: 8px 20px;
  margin-bottom: -20px;
}

.comment {
  display: flex;
  gap: 10px;
}

.commentName {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #edeff1;
}

.commentTime {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #959eae;
}

.rotateDropdown {
  transform: rotate(-180deg);
}

.commentMain {
  background: #191c21;
  box-shadow: 0px 2.709517002105713px 6.773792266845703px 0px #00000005;
  padding: 5px 10px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.commentLikeAction,
.commentReplyAction {
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  color: #959eae;
  cursor: pointer;
}

.commentLikeAction {
  padding: 1px 7px;
}

.commentLikeActionLiked {
  color: #377dff;
}

.commentReplyAction {
  padding: 1px 9px;
}

.commentMore {
  display: grid;
  place-content: center;
  padding-left: 10px;
  cursor: pointer;
}

.commentAction {
  display: flex;
  align-items: center;
}

.commentReply {
  margin-left: 34px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.commentMainWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.commentMainTop {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.commentReplyHeader {
  background: #212833;
  border-radius: 6px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.commentReplyHeading {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #959eae;
}

.commentReplyHeadingText {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #959eae;
}

.emojiWrapper {
  position: absolute;
  bottom: 45px;
  left: -20px;
  right: -20px;
}

.commentReplyWrapper {
  max-height: 340px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.commentWrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

@media (min-width: 330px) {
  .bottomUserImage {
    display: block;
  }

  .emojiWrapper {
    left: unset;
    right: 0;
  }
}

@media (min-width: 500px) {
  .wrapper {
    padding: 18px;
    border-radius: 16px;
    gap: 14px;
  }

  .posterImageMobile {
    display: none;
  }

  .posterImageWeb {
    display: block;
  }

  .main {
    gap: 18px;
  }

  .mainHeaderDetails {
    gap: 20px;
  }

  .name {
    font-size: 16px;
    line-height: 24px;
  }

  .time {
    font-weight: 500;
  }

  .bottomTexts {
    gap: 17px;
  }

  .bottomText {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
  }

  .reactions {
    padding-block: 10px;
  }

  .reaction {
    gap: 10px;
  }

  .reactionName {
    font-size: 12px;
    line-height: 18px;
  }

  .bottomUserImage {
    display: none;
  }

  .bottomUserImageWeb {
    display: block;
    margin-right: 4px;
  }

  .send {
    border-radius: 5px;
    padding: 11px;
  }

  .inputWrapper {
    padding-inline: 10px 14px;
    border-radius: 10px;
  }

  .inputIcons {
    gap: 14px;
    padding-block: 11px;
  }

  .commentInput {
    font-size: 14px;
    line-height: 22px;
  }

  .commentInput[contenteditable="true"]:empty:before {
    font-size: 14px;
    line-height: 22px;
  }

  .postImageContainerPlus,
  .postTwo {
    gap: 12px;
  }

  .postImageWrapper > img {
    border-radius: 16px;
  }

  .moreOptionsWrapper {
    right: -28px;
    width: 325px;
    border-radius: 6px;
  }

  .moreOption {
    padding-inline: 18px;
    padding-block: 8px 18px;
  }

  .moreOptionFirst {
    padding-block: 18px 8px;
  }

  .moreOptionOne {
    padding-bottom: 18px;
  }

  .hiddenPostWrapper {
    border-radius: 16px;
    padding: 18px;
  }

  .hiddenPostMain {
    gap: 18px;
  }

  .hiddenPostHeading {
    font-size: 16px;
    line-height: 24px;
  }

  .hiddenPostText {
    font-weight: 500;
  }

  .unfollowWrapper {
    border-radius: 10px;
  }

  .unfollowHeading {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 0;
  }

  .unfollowText {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    padding-bottom: 8px;
  }

  .unfollowCancel {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  .unfollowProceed {
    border-radius: 8px;
  }

  .comments {
    margin-inline: 0;
    margin-bottom: 0;
    border-radius: 10px;
    gap: 18px;
    padding: 18px;
  }

  .comment {
    gap: 12px;
  }

  .commentName {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  .commentTime {
    font-weight: 500;
  }

  .commentMessage {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }

  .commentMain {
    padding: 12px 18px;
    border-radius: 10px;
    gap: 12px;
  }

  .commentUserProfile {
    display: none;
  }

  .commentUserProfileWeb {
    display: block;
  }

  .commentLikeAction,
  .commentReplyAction {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
  }

  .commentReply {
    margin-left: 44px;
    gap: 18px;
  }

  .commentMainWrapper {
    gap: 6px;
  }

  .commentReplyHeader {
    border-radius: 10px;
    padding: 10px;
  }

  .commentReplyHeadingText {
    font-size: 14px;
    line-height: 22px;
  }

  .commentWrapper,
  .commentReplyWrapper {
    gap: 18px;
  }
}
