.wrapper {
  padding: 14px 20px;
  box-shadow: 0px 3.83203125px 12.7734375px 0px #0000000a;
  background: #191c21;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.mainHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.mainHeaderDetails {
  display: flex;
  align-items: center;
  gap: 10px;
}

.name {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #edeff1;
}

.time {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #959eae;
}

.mainBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.bottomTexts {
  display: flex;
  align-items: center;
  gap: 14px;
}

.bottomText {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #959eae;
}

.postImageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1.776 / 1;
  overflow: hidden;
  display: flex;
}

.reactions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-block: 1px solid #212833;
  padding-block: 5px;
}

.reaction {
  display: flex;
  align-items: center;
  gap: 6px;
}

.reactionName {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #edeff1;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.send {
  background: #212833;
  border-radius: 4px;
  padding: 9px;
  flex-shrink: 0;
}

.inputWrapper {
  display: flex;
  flex: 1;
  background: #212833;
  padding-inline: 10px;
  border-radius: 6px;
}

.inputIcons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.commentInput {
  flex: 1;
  width: calc(100% - 90px);
  padding-block: 8px;
  margin-right: 8px;
}

.commentInput,
.commentInput::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #edeff1;
}

.commentInput::placeholder {
  color: #959eae;
}

.reactionNameReacted {
  color: #377dff;
}

.posterImageWeb {
  display: none;
}

.bottomUserImageWeb,
.bottomUserImage {
  display: none;
}

.postText {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.postImageContainerPlus {
  display: flex;
  gap: 8.72px;
}

.postImageContainerPlus > * {
  flex-basis: 0;
  flex-grow: 1;
}

.postTwo {
  display: flex;
  flex-direction: column;
  gap: 8.72px;
}

.postImageWrapper > img {
  border-radius: 6px;
  flex-shrink: 0;
  object-fit: cover;
  object-position: top center;
}

.inputWrapperOuter {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}

@media (min-width: 330px) {
  .bottomUserImage {
    display: block;
  }
}

@media (min-width: 500px) {
  .wrapper {
    padding: 18px;
    border-radius: 16px;
    gap: 14px;
  }

  .posterImageMobile {
    display: none;
  }

  .posterImageWeb {
    display: block;
  }

  .main {
    gap: 18px;
  }

  .mainHeaderDetails {
    gap: 20px;
  }

  .name {
    font-size: 16px;
    line-height: 24px;
  }

  .time {
    font-weight: 500;
  }

  .bottomTexts {
    gap: 17px;
  }

  .bottomText {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
  }

  .reactions {
    padding-block: 10px;
  }

  .reaction {
    gap: 10px;
  }

  .reactionName {
    font-size: 12px;
    line-height: 18px;
  }

  .bottomUserImage {
    display: none;
  }

  .bottomUserImageWeb {
    display: block;
    margin-right: 4px;
  }

  .send {
    border-radius: 5px;
    padding: 11px;
  }

  .inputWrapper {
    padding-inline: 10px 14px;
    border-radius: 10px;
  }

  .inputIcons {
    gap: 14px;
  }

  .commentInput,
  .commentInput::placeholder {
    font-size: 14px;
    line-height: 22px;
  }

  .postImageContainerPlus,
  .postTwo {
    gap: 12px;
  }

  .postImageWrapper > img {
    border-radius: 16px;
  }
}
