.wrapper {
  padding: 14px 20px;
  box-shadow: 0px 3.83203125px 12.7734375px 0px #0000000a;
  background: #191c21;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.mainHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.mainHeaderDetails {
  display: flex;
  align-items: center;
  gap: 10px;
}

.name {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #edeff1;
}

.time {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #959eae;
}

.mainBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.bottomTexts {
  display: flex;
  align-items: center;
  gap: 14px;
}

.bottomText {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #959eae;
}

.postImageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1.776 / 1;
}

.reactions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-block: 1px solid #212833;
  padding-block: 5px;
}

.reaction {
  display: flex;
  align-items: center;
  gap: 6px;
}

.reactionName {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #edeff1;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.send {
  background: #212833;
  border-radius: 4px;
  padding: 9px;
}

.inputWrapper {
  display: flex;
  flex: 1;
  background: #212833;
  padding-inline: 10px;
  border-radius: 6px;
}

.inputIcons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.commentInput {
  flex: 1;
  width: calc(100% - 90px);
  padding-block: 8px;
  margin-right: 8px;
}

.commentInput,
.commentInput::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #edeff1;
}

.commentInput::placeholder {
  color: #959eae;
}

@media (min-width: 500px) {
  .wrapper {
    padding: 18px;
    border-radius: 16px;
    gap: 14px;
  }
}
