.heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #edeff1; /** 10% **/
}

.capitalize {
  text-transform: capitalize;
}

.subHeading {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #edeff1; /** 10% **/
}

@media (min-width: 500px) {
  .heading {
    font-size: 30px;
    font-weight: 900;
    line-height: 46px;
  }

  .subHeading {
    font-size: 16px;
    line-height: 24px;
  }
}
