.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  width: min(100%, 580px);
  margin-inline: auto;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (min-width: 500px) {
  .main {
    gap: 30px;
  }
}
