.wrapper {
  width: min(100%, 580px);
  margin-inline: auto;
  text-align: center;
}

.main,
.mainTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.mainTop {
  gap: 30px;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subHeading {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding-inline: 5px;
  color: #edeff1; /** 10% **/
}

.subHeadingAccent {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #377dff;
}

.skipButton {
  width: 100%;
}

.subHeadingImportantWrapper {
  background-color: #ff5630;
  border-radius: 6px;
  padding: 6px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-inline: auto;
}

.subHeadingImportant {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  text-align: left;
}

@media (min-width: 500px) {
  .header {
    gap: 20px;
  }

  .subHeadingAccent {
    font-size: 16px;
    line-height: 24px;
  }

  .subHeadingImportantWrapper {
    border-radius: 10px;
    padding: 10px;
  }

  .subHeadingImportant {
    font-size: 14px;
    line-height: 22px;
  }
}
