.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
}

.heading {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #edeff1;
}

.friends::-webkit-scrollbar {
  width: 7px;
}

.friends::-webkit-scrollbar-thumb {
  background: #212833;
  border-radius: 20px;
  border: 1px solid #4e5d78;
  box-shadow: 0px 4px 10px 0px #00000005;
}

.friends::-webkit-scrollbar-track {
  margin-block: 5px;
}

.friends {
  display: flex;
  flex-direction: column;
  gap: 18px;
  position: sticky;
  top: 0;
  overflow-y: auto;
  /* height: calc(100vh - 310px); */
  height: calc(100vh - 198px);
  padding-right: 25px;
  padding-bottom: 20px;
}

.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 6px 10px;
  transition: background-color 0.15s ease-in;
  border-radius: 6px;
}

.friend:hover {
  background-color: #4e5d78;
}

.friendDetails {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
}

.friendName {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #edeff1;
}

.friendLastSeen {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #959eae;
}

.active {
  width: 8px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: #38cb89;
}

.more {
  padding-left: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

.moreIcon {
  cursor: pointer;
}

.moreMargin {
  margin-right: 8px;
}

.optionsWrapper {
  position: absolute;
  right: -10px;
  top: calc(100% + 5px);
  background: #212833;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 270px;
  z-index: 2;
  padding: 18px;
  border-radius: 10px;
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.optionMain {
  display: flex;
  align-items: center;
  gap: 18px;
}

.optionText {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #edeff1;
}

.profileWrapper {
  position: relative;
}

.profileLock {
  position: absolute;
  bottom: 0;
  right: -4px;
  background: #212833;
  box-shadow: 3px -5px 35px 0px #333e521a;
  padding: 4px;
  border-radius: 50%;
  overflow: hidden;
}

.friendImage {
  border-radius: 50%;
  overflow: hidden;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 500px) {
  .friend {
    border-radius: 10px;
  }
}
